<div class="row renew-password-background">
    <div class="col-md-5 p-2 view-partition">
        <div class="logo">
            <img src="../../../assets/images/Logo.png" class="image-size"/>
        </div>

        <div class="renewpw-form-block  bg-white p-4">
            <div class="renewpw-text">Reset Password</div>

            <div class="form-style mt-3">
                <form class="" [formGroup]="setPasswordForm" (ngSubmit)="onRenewPassword()" autocomplete="off">
                    <div class="form-group popup-controls mb-2 position-relative">
                        <input [type]="hide ? 'password' : 'text'" placeholder="New Password" formControlName="password" class="form-control"
                        minlength="8"  [ngClass]="{ 'is-invalid': isPasswordSameAsUsername() ||
                        (f['password'].dirty && f['password'].touched && f['password'].errors) ||
                        (submitted && f['password'].errors)}" maxlength="16">
                        <i class="eye-icon" (click)="hide = !hide" [ngClass]="(hide)?'fa fa-eye-slash':'fa fa-eye'"
                        aria-hidden="true"></i>

                        <div class="error_text mt-0" *ngIf="(f['password'].dirty && f['password'].touched && f['password'].errors) ||
                        (submitted && f['password'].errors) ">
                            <div class="error_text mt-0"
                                *ngIf="f['password'].errors['pattern']">
                                <small>Password must be minimum 8 characters and maximum 16 characters with at least
                                    1 special
                                    character, 1 number, 1 uppercase and 1 lowercase character.</small>
                            </div>
                            <div class="error_text mt-0" *ngIf="f['password'].errors['maxlength']"> Password must be max 16 characters.</div>
                            <div class="error_text mt-0" *ngIf="f['password'].errors['required']">Password is required.</div>
                            <div class="error_text mt-0" *ngIf="f['password'].errors['cannotContainSpace']">Password cannot contain space. </div>
                            <div class="error_text mt-0" *ngIf="isPasswordSameAsUsername()">Password cannot be same as user name, first name or last name.</div>
                         </div>
                    </div>
                    <div class="form-group popup-controls mb-2">
                        <input type="password" class="form-control" placeholder="Re-enter Password" minlength="8" maxlength="16" 
                        [ngClass]="{ 'is-invalid':(f['confirmPassword'].dirty && 
                                                   f['confirmPassword'].touched && 
                                                   f['confirmPassword'].errors) ||
                                                   (submitted && f['confirmPassword'].errors)
                                    }" 
                        formControlName="confirmPassword" (blur)="passwordValidation()">
                        <div class="error_text mt-0" *ngIf="(f['confirmPassword'].dirty && 
                                                             f['confirmPassword'].touched && 
                                                             f['confirmPassword'].errors) ||
                                                            (submitted && f['confirmPassword'].errors)">
                            <div class="error_text mt-0" *ngIf="f['confirmPassword'].errors">
                                <small>Password and Confirm Password doesn’t match.</small></div>
                        </div>
                    </div>
                    <div class="footer-text mt-3 pl-3">Your password must have:
                        <div class= "smallText" >
                            <span>∙ 8 or more characters<br> ∙ </span>
                            <span class="highlightText">okay</span>
                            <span> or better strength</span>
                        </div>
                        <app-password-strength [passwordToCheck]="setPasswordForm.value.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>

                        <div class= "smallText">Secure your account with an unique password that doesn’t include names, <br/>dates and/or repeating characters.</div>
                    </div>
                    <div class="d-block pb-2"> 
                        <button type="submit" class="btn btn-lg btn-block w-100 mt-4 send-button" [disabled]="!renewPasswordSubmitButton">Change Password</button>
                    </div>
                    <div class="cancel-text">
                        <a routerLink="/login">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-7 ">
        <div class="renewpw-side-image-text mt-5">BRM OPERATIONS FRAMEWORK</div>
        <img src="../../../assets/images/resetpw-side-image.png" class="img-fluid mt-5" />
    </div>
</div>


