@import '../../../../styles';

.msg {
    font-size: 12px; 
    font-weight: $font-weight-bold - 100;
    word-wrap: break-word;
    .msg-title {
        color: #818181; 
    }
    
    .msg-subtitle {
        color: #AC3434; 
    }
}


.strength {
    display: flex;
    flex-direction: column;
  }
  
  .strengthBar {
    display: flex;
    flex-grow:  1;
    list-style: none;
    margin: 0;
    padding: 0;
    // vertical-align: 2px;
  }
  
  .point:last-of-type {
    margin: 0 !important;
  }
  
  .point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    flex-grow: 1;
  }
  
  p {
    font-weight: bold;
    flex-grow: 0.1;
  }