<div class="strength">
    <div class="msg" [style.color]="messageColor">
        <span class="msg-title">Password Strength: </span>
        <span class="msg-subtitle" *ngIf="passwordToCheck?.length">{{ message }}</span>
    </div>
    <!-- <p class="text-center mb-0" [style.color]="messageColor" *ngIf="passwordToCheck?.length">{{ message }}</p> -->
    <br>
    <ul class="strengthBar">
        <li class="point" [style.background-color]="bar0"></li>
        <li class="point" [style.background-color]="bar1"></li>
        <li class="point" [style.background-color]="bar2"></li>
        <li class="point" [style.background-color]="bar3"></li>
    </ul>

</div>