@import '../../../../styles';

  .tablebtn > i {
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 4px;
    border-radius: 20px;
  
  }
  .icon-display {
    margin-top: 5px;
    margin-right: 5px;
    transform: scale(1.3);
  
  }
  
  .view-container {
    margin: 40px 58px auto 58px  ;
  }
  
