@import '../../../styles';


.form-block {
    position: relative;
    top: 10%;
    width:50%;
    margin:auto;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.14); 
    border-radius: 12px;
}

.changepw-text {
    @include form-title;
}


.changepw-button {
    @include primary-button;
}

.error-message {
    color: $error-message-color;
}

.change-button {
    @include primary-button;
}

.error-message {
    color: $error-message-color;
}

.cancel-text {
    color: #333333; 
    font-size: $font-size-small; 
    font-weight: $font-weight-regular; 
    word-wrap: break-word;   
    text-align: center; 
}

.footer-text {
    font-size: 12px; 
    font-weight: $font-weight-bold - 100; 
    word-wrap: break-word;
    color: #818181; 
    .smallText {
        font-weight: $font-weight-regular + 100; 
        color: #9E9E9E;
        .highlightText {
            color: #F67832;
        }
    }
}

a {
    color: #333333; 

}

.fa-eye{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}