<div class="container w-80">
    <div class="grid-container single-column">
    <div class="config-card">
    <div class="acc-main mb-3" [ngClass]="isRowExpanded(1,i) ? 'expanded' : 'collapsed'">
    <div class="acc-main-header">
    <div class="acc-title-left">
    <img src="../../../../assets/images/document-text-black.svg">
    <label class="w-100 acc-title" (click)="toggleRow(1,i)">Account Audit Info</label>
    </div>
    <button class="btn icon-button" (click)="toggleRow(1,i)">
    <img class="icon-button" src="../../../assets/images/chevron-down.svg" alt="Toggle"
                              [@rotate]="isRowExpanded(1,i) ? 'expanded' : 'collapsed'" />
    </button>
    </div>
    <div class="w-100" *ngIf="isRowExpanded(1,i)">
    <table class="table table-lg table-borderless" *ngIf="Audit?.length ;else no_data_found" > 
    <thead>
    <th>Account No.</th>
    <th>GL Segment</th>
    <th>Customer Segment List</th>
    <th>Last Status</th>
    <th>Lineage</th>
    <th>Status</th>
    <th>Business Type</th>
    <th>Effective Type</th>
    </thead>
    <tbody>
    <tr *ngFor = " let data of Audit" >
    <td>{{data.accountNo}}</td>
    <td>{{data.glSegment}}</td>
    <td>{{data.custSegmentList}}</td>
    <td>{{data.lastStatus | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{data.lineage}}</td>
    <td><span [ngClass]="{'color-code active': data.status === 'Active'}">{{data.status}}</span></td>
    <td>{{data.businessType}}</td>
    <td>{{data.effectiveType | date: 'dd/MM/yyyy HH:mm'}}</td>
    </tr>
    </tbody>
    </table>
    <ng-template #no_data_found>
    <div class="d-flex justify-content-center align-items-center flex-column">
    <h5 class="no_data_found">No Data found</h5>
    </div>
    </ng-template>
    </div>
    </div>
    <div class="acc-main mb-3" [ngClass]="isRowExpanded(2,i) ? 'expanded' : 'collapsed'">
    <div class="acc-main-header">
    <div class="acc-title-left">
    <img src="../../../../assets/images/dollar-black.svg">
    <label class="w-100 acc-title" (click)="toggleRow(2,i)">Billinfo Audit Info</label>
    </div>
    <button class="btn icon-button" (click)="toggleRow(2,i)">
    <img class="icon-button" src="../../../assets/images/chevron-down.svg" alt="Toggle"
                              [@rotate]="isRowExpanded(2,i) ? 'expanded' : 'collapsed'" />
    </button>
    </div>
    <div class="w-100 table-container" *ngIf="isRowExpanded(2,i)">
    <table class="table table-lg table-borderless " *ngIf="BillinfoAudit?.length ;else no_data_found"> 
    <thead>
    <th>Billinfo State</th>
    <th>Billing Status</th>
    <th>Billing Status Flags</th>
    <th>Status</th>
    <th>Status Flags</th>                                                                                                                                                             
    <th>Account POID</th>
    <th>Accounting Cycle DOM</th>
    <th>Account Last Date</th>
    <th>Accounting Next Date</th>
    <th>Accounting Future Date</th>
    <th>Bill Accounting Cycles Left</th>
    <th>Bill Date</th>
    <th>Actual Last Bill</th>
    <th>Actual Last Bill obj db</th>
    <th>Next Bill Date</th>
    <th>Future Bill Date</th>
    <th>Pending Receive</th>
    <th>Pay Type</th>
    <th>Collections Exempt</th>
    <th>Billing Segment</th>
    <th>Account Suppressed</th>
    <th>Suppression Cycles Left</th>
    </thead>
    <tbody>
    <tr *ngFor = " let billinfo of BillinfoAudit">
    <td>{{billinfo.billingState}}</td>
    <td>{{billinfo.billingStatus}}</td>
    <td>{{billinfo.billingStatusflags}}</td>
    <td>
    <span [ngClass]="{'color-code active': billinfo.status === 'Active'}">
                                            {{billinfo.status}}</span>
    </td>
    <td>{{billinfo.statusFlags}}</td>
    <td>{{billinfo.accountPoid}}</td>
    <td>{{billinfo.accountingCycleDom}}</td>
    <td>{{billinfo.accountingLastDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{billinfo.accountingNextDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{billinfo.accountingFutureDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{billinfo.billAccountingCyclesLeft}}</td>
    <td>{{billinfo.billDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{billinfo.actualLastBill | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{billinfo.actualLastBillObjDb}}</td>
    <td>{{billinfo.nextBillDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{billinfo.futureBillDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{billinfo.pendingReceive}}</td>
    <td>{{billinfo.payType}}</td>
    <td>{{billinfo.collectionsExempt}}</td>
    <td>{{billinfo.billingSegment}}</td>
    <td>{{billinfo.accountSuppressed}}</td>
    <td>{{billinfo.suppressionCyclesLeft}}</td>
     
                                </tr>
    </tbody>
    </table>
    <ng-template #no_data_found>
    <div class="d-flex justify-content-center align-items-center flex-column">
    <h5 class="no_data_found">No Data found</h5>
    </div>
    </ng-template>
    </div>
    </div>
    <div class="acc-main mb-3" [ngClass]="isRowExpanded(3,i) ? 'expanded' : 'collapsed'">
    <div class="acc-main-header">
    <div class="acc-title-left">
    <img src="../../../../assets/images/support-black.svg">
    <label class="w-100 acc-title" (click)="toggleRow(3,i)">Service Audit Info</label>
    </div>
    <button class="btn icon-button" (click)="toggleRow(3,i)">
    <img class="icon-button" src="../../../assets/images/chevron-down.svg" alt="Toggle"
                              [@rotate]="isRowExpanded(3,i) ? 'expanded' : 'collapsed'" />
    </button>
    </div>
    <div class="w-100 table-container" *ngIf="isRowExpanded(3,i)">
    <table class="table table-lg table-borderless" *ngIf="serviceinfo?.length ;else no_data_found"> 
    <thead>
    <th>Subscription POID</th>
    <th>Close When Date</th>
    <th>Last Status</th>
    <th>Login</th>
    <th>Status</th>
    <th>Status Flag</th>
    <th>Effective</th>
    <th>Lifecycle State</th>
    </thead>
    <tbody>
    <tr *ngFor="let action of serviceinfo">
    <td>{{action.subscriptionPoid}}</td>
    <td>{{action.closeWhenDate  | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.lastStatus | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.login}}</td>
    <td><span [ngClass]="{' status-align color-code active': action.status === 'Active'}">{{action.status}}</span></td>
    <td>{{action.statusFlags}}</td>
    <td>{{action.effective | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.lifeCycleState}}</td>
    </tr>
    </tbody>
    </table>
    <ng-template #no_data_found>
    <div class="d-flex justify-content-center align-items-center flex-column">
    <h5 class="no_data_found">No Data found</h5>
    </div>
    </ng-template>
    </div>
    </div>
    <div class="acc-main mb-3" [ngClass]="isRowExpanded(4,i) ? 'expanded' : 'collapsed'">
    <div class="acc-main-header">
    <div class="acc-title-left">
    <img src="../../../../assets/images/currency-dollar-black.svg">
    <label class="w-100 acc-title" (click)="toggleRow(4,i)">Purchase Product Audit Info</label>
    </div>
    <button class="btn icon-button" (click)="toggleRow(4,i)">
    <img class="icon-button" src="../../../assets/images/chevron-down.svg" alt="Toggle"
                              [@rotate]="isRowExpanded(4,i) ? 'expanded' : 'collapsed'" />
    </button>
    </div>
    <div class="w-100 table-container" *ngIf="isRowExpanded(4,i)">
    <table class="table table-lg table-borderless" *ngIf="productInfo?.length ;else no_data_found" > 
    <thead>
    <th>Effective Date</th>
    <th>Cycle Discount</th>
    <th>Cycle Discount Amount</th>
    <!-- <th>Due Date</th>
    <th>Account Poid</th> -->
    <th>Cycle Fee Amount</th>
    <th>Cycle End Date</th>
    <th>Cycle Start Date</th>
    <th>Node Location</th>
    <th>Description</th>
    <th>Package ID</th>
    <th>Product Name</th>
    <th>Purchase Discount</th>
    <th>Purchase Discount Amount</th>
    <th>Purchase Fee Amount</th>
    <th>Purchase End Date</th>
    <th>Purchase Start Date</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Status flags</th>
    <th>Usage End Date</th>
    <th>Usage Start Date</th>
    <th>Cycle Fee Flags</th>
    <th>Retry Count</th>
    <th>Renewal Mode</th>
    <th>Grace Period</th>
    </thead>
    <tbody>
    <tr *ngFor="let action of productInfo">
    <td>{{action.effectiveDate  | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.cycleDiscount}}</td>
    <td>{{action.cycleDiscountAmount}}</td>
    <td>{{action.cycleFeeAmount}}</td>
    <td>{{action.cycleEndDate  | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.cycleStartDate  | date: 'dd/MM/yyyy HH:mm'}}</td>                                        
    <td>{{action.nodeLocation}}</td>                                        
    <td>{{action.description}}</td>                                        
    <td>{{action.packageId}}</td>
    <td>{{action.productName}}</td>
    <td>{{action.purchaseDiscount}}</td>
    <td>{{action.purchaseDiscountAmount}}</td>
    <td>{{action.purchaseFeeAmount}}</td>
    <td>{{action.purchaseEndDate  | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.purchaseStartDate  | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.quantity}}</td>
    <td><span [ngClass]="{' status-align color-code active': action.status === 'Active'}">{{action.status}}</span></td>
    <td>{{action.statusFlags}}</td>
    <td>{{action.usageEndDate  | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.usageStartDate  | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.cycleFeeFlags}}</td>
    <td>{{action.retryCount}}</td>
    <td>{{action.renewalMode}}</td>
    <td>{{action.gracePeriod}}</td>
    </tr>
    </tbody>
    </table>
    <ng-template #no_data_found>
    <div class="d-flex justify-content-center align-items-center flex-column">
    <h5 class="no_data_found">No Data found</h5>
    </div>
    </ng-template>
    </div>
    </div>
    <div class="acc-main mb-3" [ngClass]="isRowExpanded(5,i) ? 'expanded' : 'collapsed'">
    <div class="acc-main-header">
    <div class="acc-title-left">
    <img src="../../../../assets/images/document-text-black.svg">
    <label class="w-100 acc-title" (click)="toggleRow(5,i)">Purchase Discount Audit Info</label>
    </div>
    <button class="btn icon-button" (click)="toggleRow(5,i)">
    <img class="icon-button" src="../../../assets/images/chevron-down.svg" alt="Toggle"
                              [@rotate]="isRowExpanded(5,i) ? 'expanded' : 'collapsed'" />
    </button>
    </div>
    <div class="w-100 table-container" *ngIf="isRowExpanded(5,i)">
    <table class="table table-lg table-borderless" *ngIf="discountInfo?.length ;else no_data_found"> 
    <thead>
    <th>Effective Date</th>
    <th>Cycle End Date</th>
    <th>Cycle Start Date</th>
    <th>Node Location</th>
    <th>Description</th>
    <th>Package ID</th>
    <th>Discount Name</th>
    <th>Purchase End Date</th>
    <th>Purchase Start Date</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Status Flags</th>
    <th>Usage End Date</th>
    <th>usage Start Date</th>
    <th>Flags</th>
    <th>Purchase Mode</th>
    </thead>
    <tbody>
    <tr *ngFor="let action of discountInfo">
    <td>{{action.effectiveDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.cycleEndDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.cycleStartDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.nodeLocation}}</td>
    <td>{{action.description}}</td>
    <td>{{action.packageId}}</td>
    <td>{{action.discountName}}</td>
    <td>{{action.purchaseEndDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.purchaseStartDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.quantity}}</td>
    <td >{{action.status}}</td>
    <td>{{action.statusFlags}}</td>
    <td>{{action.usageEndDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.usageStartDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{action.flags}}</td>
    <td>{{action.purchaseMode}}</td>
    </tr>
    </tbody>
    </table>
    <ng-template #no_data_found>
    <div class="d-flex justify-content-center align-items-center flex-column">
    <h5 class="no_data_found">No Data found</h5>
    </div>
    </ng-template>
    </div>
    </div>
    </div>
    </div>
    </div>      