@import '../../../styles';

.forgot-password-background {
    @include component-view-background;
    
}

.view-partition {
    @include partition-shadow;
}

.logo {
    @include logo-position;
}

.image-size {
    @include logo-size;
}

.forgotpw-form-block {
    position: relative;
    top: 20%;
    width:60%;
    margin: 7%;
    border-radius: 12px;
}

.forgotpw-text {
    @include form-title;
    width:325px;
    height:38px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    line-height:38.4px;
    margin-bottom: 20px;
}
.forgot-password-text{
    width: 396px;
    height: 19px;
    top: 369px;
    left: 162px;
    font-weight: 400;
    margin-bottom: 10px;

}
.form-group{
    width: 350px;
    height: 48px;
}

.forgotpw-side-image-text {
    @include side-image-text;
    font-size: 48px;
    line-height: 48px;

}

.send-button {
    width: 350px;
    // height: 48px;
    // top: 412px;
    // left: 162px;
    @include primary-button;
    

}

.error-message {
    color: $error-message-color;
}
.col-md-5{
    background-color: white;
    // width: 720px;
    // height: 1024px;
}
.col-md-7{
    background-color: rgba(255, 249, 239, 1);
    width: 720px;
    height: 1024px;
}

.cancel-text {
    color: #333333; 
    font-size: $font-size-small; 
    font-weight: $font-weight-regular; 
    word-wrap: break-word;   
    text-align: center;
    width: 350px;
    
}
.cancel-text:hover{
    text-decoration: underline;
}

a {
    color: #333333; 

}