@import "../../../styles.scss";

.main-container {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  gap: 40px;
  margin: 10px;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  @include text-headline-h5-xl;
  color: var(--Headline-Orange-600, #FA7A55);
}

.left-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 40px;
  width: 48%;
}

.right-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 48%;
}

.ece-dash {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  // flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Neutral-100, #F1F5F9);
  .ece-dash-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    .ece-card {
      display: flex;
      padding: 8px 16px;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 0;
      border-radius: 8px;
      background: var(--Neutral-200, #E2E8F0);
      .ece-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
         img {
          width: 24px;
          height: 24px;
        }
         .ece-card-content-header {
          color: var(--Neutral-900, #0F172A);
          @include text-small-normal;
        }
         .ece-card-content-subtitle {
          color: var(--Neutral-900, #0F172A);
          @include text-lg-semibold;
        }
      }
    }
  }

   .card-content-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    .card-content-table-row {
      display: flex;
      border-bottom: 0.5px solid var(--Neutral-400, #94A3B8);
      .table-col-left {
        display: flex;
        height: 32px;
        padding: 10px 16px;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        border-right: 0.5px solid var(--Neutral-400, #94A3B8);
         .table-col-left-text {
          color: var(--Neutral-900, #0F172A);
          text-align: center;
          @include text-small-normal;
        }
      }
       .table-col-right {
        display: flex;
        height: 32px;
        padding: 10px 72px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
         .table-col-right-text {
          display: flex;
          padding: 0px 8px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 360px;
          @include text-small-semibold;
        }
      }
  
    }
  }
}

  .schedules-dash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    background: var(--Neutral-100, #F1F5F9);
    align-self: stretch;
    padding: 8px 16px;
    flex: 1 0 0;
    .sch-table {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      .header {
        display: flex;
        gap: 4px;
        align-items: center;
        align-self: stretch;
        border-radius: 4px;
        height: 32px;
        justify-content: space-around;
        background: var(--Brand-300, #FBD3B7);
        .col {
          display: flex;
          height: 32px;
          padding: 10px 72px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          color: var(--Brand-900, #2C121B);
          @include text-xs-semibold;
          text-align: center;

          &.left {
            border-right: 0.5px solid var(--Neutral-400, #94A3B8);
          }
        }
      }
      .content-row {
        display: flex;
        padding: 4px 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        border-bottom: 0.5px solid var(--Neutral-400, #94A3B8);
        .col {
          display: flex;
          //height: 32px;
          padding: 5px 10px;          
          align-items: center;
          gap: 8px;
          flex: 1 0 0;
          border: none;
          &.left{
            border-right: 0.5px solid var(--Neutral-400, #94A3B8);
          }
          &.right{
            justify-content: center;
          }
          .img {
            width: 15px;
            height: 15px;          
          }
          .text {
            color: var(--Neutral-900, #0F172A);
            @include text-small-normal;
            word-wrap: break-word; /* Wrap long words */
          }
        }
      }
    }
  }

  .pdc-dash {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    background: var(--Neutral-200, #E2E8F0);
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      .subtitle {
        color: var(--Brand-900, #2C121B);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 133.333% */      
      }
    }
    .content {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      flex: 1 0 0;
      align-self: stretch;
      .section {
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 8px;
        background: var(--Color, #FFF);
        gap: 20px;
        .round {
          display: flex;
          padding: 10px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 360px;
          background: var(--Headline-Purple-600, #9D7DE2);
          img {
            width: 39px;
            height: 39px;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          @include text-base-semibold;
        }
        .value {
          color: var(--Neutral-900, #0F172A);
          @include text-headline-h4-2xl;
        }
    }    
    }
  }

  .acc-dash {
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--Neutral-100, #F1F5F9);
  }

  .acc-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    .acc-card {
      display: flex;
      padding: 8px 16px;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 0;
      border-radius: 8px;
      background: var(--Neutral-200, #E2E8F0);  
      &.inactive {
        background: var(--Status-Danger-50, #FEC8C8);
        height:100%;
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        img {
          width: 24px;
          height: 24px;          
        }
        .text {
          color: var(--Neutral-900, #0F172A);
          @include text-sm-normal;
        }
        .value {
          color: var(--Neutral-900, #0F172A);
          @include text-lg-semibold;
        }
      }
    }
  }

  .recurr-count-dash {
    display: flex;
    padding: 11px 24px 24px 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    flex: 1 0 0;
    align-self: stretch;    
    background: var(--Neutral-200, #E2E8F0);
    .section {
      display: flex;
      align-items: center;
      gap: 10px;
      align-self: stretch;    
      .recurr-table {
        display: flex;
        padding: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        border-radius: 16px;
        background: var(--Neutral-300, #CBD5E1);
        .table-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-self: stretch; 
          .table-header {
            display: flex;
            align-items: center;
            align-self: stretch;
            border-radius: 4px;
            background: var(--Brand-300, #FBD3B7);
            .col {
              display: flex;
              width: 135px;
              height: 32px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              color: var(--Brand-900, #2C121B);
              text-align: center;
              @include text-xs-semibold;
              &.left {
                border-right: 0.5px solid var(--Neutral-400, #94A3B8);
              }
            }
          }   
          .table-row-section {
            display: flex;
            padding: 4px 0px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;
            align-self: stretch;
            .table-row {
              display: flex;
              align-items: center;
              align-self: stretch;
              border-bottom: 0.5px solid var(--Neutral-400, #94A3B8);              
              .col {
                display: flex;
                padding: 10px 16px;
                align-items: center;
                gap: 16px;
                color: var(--Neutral-900, #0F172A);
                text-align: center;
                @include text-sm-normal;

                &.left {
                  width: 147px;
                  height: 32px;
                  border-right: 0.5px solid var(--Neutral-400, #94A3B8);
                  .color-box {
                    width: 16px;
                    height: 16px;
                    flex-shrink: 0;
                    border-radius: 4px;
                    &.daily {
                      background: var(--Status-Lime-400, #82CB15);
                    }
                    &.weekly {
                      background: var(--Status-Amber-400, #FBBF24); 
                    }
                    &.monthly {
                      background: var(--Neutral-400, #94A3B8);                    
                    }
                  }
                }
                &.right {
                  justify-content: center;
                }
              }
            }
          }      
        }
      }
    }
  }

  .jobs-dash {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // gap: 10px;
    // flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    background: var(--Neutral-100, #F1F5F9);
  }

  .legend-sec {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: var(--Neutral-300, #CBD5E1);
    .sec-row {
      display: flex;
      height: 28px;
      align-items: center;
      gap: 4px;
      .legend-icon {
        border-radius: 4px;
        height: 28px;
        &.legend-icon-pod {
          width: 8px;
        }
        &.legend-icon-a {
          width: 8px;
          background: var(--Status-Lime-50, #D9F99F);
        }
        &.legend-icon-b {
          width: 8px;
          background: var(--Status-Amber-400, #FBBF24);        
        }   
        &.text {
          display: flex;
          align-items: center;
          color: #000;
          @include text-xs-normal;
        }   
      }
    }
  }

  .scroll-buttons {
    img {
      height: 20px;
      width: 20px;
    }
  }

  .jobs-chart-sec {
    display: flex !important;
    justify-content: space-around;
    padding: 10px 10px 0px 10px;
  }

  .jobs-chart-access {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0px 10px 0px;
  }

  .proc-mngmt-dash {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    padding: 16px;
    background: var(--Neutral-200, #E2E8F0);
  }

  .rel-dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Neutral-100, #F1F5F9);
    margin: 40px;
    // width: 130%;
    #container {
      width: 100%; 
      height: 400px;
      padding: 16px;
    }
  }

  .cdr-dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Neutral-100, #F1F5F9);
    margin: 40px;
    #cdrContainer {
      width: 100%; 
      height: 400px;
      padding: 16px;
    }
  }

  .cdr-select {
    display: flex;
    // width: 200px;
    height: 40px;
    padding: 10px 8px 10px 12px;
    justify-content: flex-end;
    align-items: center;
    gap: 65px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--Neutral-400, #94A3B8);
    background: var(--Basic-White, #FFF);
    color: var(--Neutral-900, #0F172A);
    justify-content: flex-end;
    /* Body/text-base/font-normal */
    @include text-xs-semibold;
  }

  .select-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
  }

  .cdr-status-dash {
    display: flex;
    gap: 10px;
    padding: 16px;
    width:100%;
    border-radius: 12px;
    background: var(--Neutral-100, #F1F5F9);
    flex-direction: column;
}

  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  
  .no-data-text {
    text-align: center;
    color: var(--neutral-600, #475569);
  }

  .no-data-chart {
    height: 0px;
    width: 0px;
  }

  .chart-job {
    width: 100%; 
    height: 300px;
    max-width: 500px; /* Set maximum width for the chart container */
    overflow-x: auto; /* Enable horizontal scrolling */
  }

  .chart-job-detail {
    width: 94%; 
    height: 170px;
    overflow: hidden;
    margin: 0% 3% 3% 3%;
    border-radius: 4px;
    background: var(--Neutral-200, #E2E8F0);
  }

  .chart-pm-job {
    width: 100%; 
    height: 350px;  
  }

  .acc-chart {
    width: 100%; 
    height: 250px;
  }

  table {
    width: 100%;
  }
  
  .hidden {
    display: none;
  }

  .highlight-link {
    cursor: pointer;
    text-decoration: none;
    color: #1e88e5; /* Primary link color */
  }

  a:hover {
    text-decoration: underline;
    color: #1565c0; /* Darker color on hover */
  }

  .footer-text {
    background-color: var(--Brand-300, #FBD3B7);
    border-radius: 360px;
    padding: 5px;
  }
  