  <div class="config-list">
  <ul class="nav flex-row  config-ulist">
    <li>

      <a class="header-links security-img" routerLink="configurations/security" routerLinkActive="active-link security-img-acive"><span>General Config</span></a>

    </li>
      <li>
        <a class="header-links not-channel-img" routerLink="configurations/notification-channel" routerLinkActive="active-link not-channel-img-active"><span>Notification Channels</span></a>
      </li>
      <li>
        <a class="header-links roles-img" routerLink="configurations/roles" routerLinkActive="active-link roles-img-active"><span>Roles</span></a>
      </li>
      <li >
        <a class="header-links users-img" routerLink="configurations/user" routerLinkActive="active-link users-img-active"><span>User</span></a>
      </li>
      <li >
        <a class="header-links privileges-img" routerLink="configurations/privileges" routerLinkActive="active-link privileges-img-active"><span>Privileges</span></a>
      </li>
      <li >
        <a class="header-links cluster-img" routerLink="configurations/environment-setup" routerLinkActive="active-link cluster-img-active"><span>Environment Setup</span></a>
      </li>
     </ul>
      
    </div>
    
